{% extends "JngActivityBundle:layout:layout.html.twig" %}

{% form_theme edit_form 'JngActivityBundle:Form:fields.html.twig' %}

{% block title %}Activity edit{% endblock %}
{% block title_section %}
    <h1>Activity Storage edit</h1>
    <h2>Edit some activity storage</h2>
{% endblock %}   

{% block content %}

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('activitystorage') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet"  href="{{ asset('bundles/jngactivity/css/jquery.simple-dtpicker.css') }}" />
{% endblock %}
{% block javascripts %}
<script type="text/javascript" src="{{ asset('bundles/jngactivity/js/jquery.simple-dtpicker.js') }}"></script>
<script type="text/javascript" >
    $(function() {
        $('#jng_activitybundle_activitystorage_start').appendDtpicker({"locale": "fr",'dateFormat' : "DD/MM/YYYY hh:mm","minuteInterval": 15,"firstDayOfWeek": 1,"closeOnSelected": true});
        $('#jng_activitybundle_activitystorage_end').appendDtpicker({"locale": "fr",'dateFormat' : "DD/MM/YYYY hh:mm","minuteInterval": 15,"firstDayOfWeek": 1,"closeOnSelected": true});
        $("#facebox .content").css("width",($(window).width()-50)+"px")
            .css("height",($(window).height()-100)+"px").css("overflow","auto");
        $("#facebox").css("top","10px").css("left","10px");    
        $(window).resize(function() {
          $("#facebox .content").css("width",($(window).width()-50)+"px")
            .css("height",($(window).height()-100)+"px");
          $("#facebox").css("top","10px").css("left","10px");   
        }); 
    });
</script>    
{% endblock %} 
