{% extends "JngActivityBundle:layout:layout.html.twig" %}

{% block title %}Activity Storage list{% endblock %}
{% block title_section %}
    <h1>Activity Storage List</h1>
    <h2>List all activity stored</h2>
{% endblock %}   

{% block content -%}
    <div><a href="{{ path('webcal',{'id':ical}) }}" ><img src="{{ asset('bundles/jngactivity/images/ical.gif') }}" /></a></div>
    <ul>
        <li>
            <a class="pure-button pure-button-primary" href="{{ path('activitystorage_new') }}" rel="facebox">
                Create a new entry
            </a>
        </li>
        <li>
            <a class="pure-button pure-button-secondary" href="{{ path('activitystorage_newmanually') }}">
                Create a new entry manually
            </a>
        </li>
    </ul>
    <table class="pure-table">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Activity</th>
                <th>Task</th>
                <th>Start</th>
                <th>End</th>
                <th>Diff</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.activity.customer.name }}</td>
                <td>{{ entity.activity.name }}</td>
                <td>{% if entity.task is not null %}{{ entity.task.name }}{% endif %}</td>
                <td>{% if entity.start %}{{ entity.start|date('d/m/Y H:i') }}{% endif %}</td>
                <td>{% if entity.end %}{{ entity.end|date('d/m/Y H:i') }}{% endif %}</td>
                <td>{{ entity.start|diffToDate(entity.end) }}</td>
                <td>
                <ul>
                    <li>
                        <a class="pure-button pure-button-secondary"  href="{{ path('activitystorage_edit', { 'id': entity.id })}}">edit</a>
                    </li>    
                    <li>
                        {% if entity.end is null %}
                         
                        <form action="{{ path('activitystorage_stop', { 'id': entity.id }) }}" method="post">
                            <input type="hidden" name="_method" value="PUT" />
                            {{ form_widget(stopForms[entity.id]._token) }}
                            <button type="submit" class="pure-button pure-button-error"  onclick="return confirm('Are you sure to stop ?')">
                                <i class="icon-trash"></i>stop
                            </button>
                        </form>
                        {% endif %}
                    </li>
                    <li>
                        <form action="{{ path('activitystorage_delete', { 'id': entity.id }) }}" method="post">
                            <input type="hidden" name="_method" value="DELETE" />
                            {{ form_widget(deleteForms[entity.id]._token) }}
                            <button type="submit" class="pure-button pure-button-error"  onclick="return confirm('Are you sure to delete ?')">
                                <i class="icon-trash"></i>delete
                            </button>
                        </form>
                    </li>                    
                    
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
 {% block stylesheets %}
    <link rel="stylesheet"  href="{{ asset('bundles/jngactivity/css/box.css') }}" />
{% endblock %}   
    
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/jngactivity/js/jquery.box.js') }}"></script>
    <script type="text/javascript">
/* <![CDATA[ */

 jQuery(document).ready(function() {
     
     if(jQuery('a[rel*=facebox]').length>0)jQuery('a[rel*=facebox]').facebox();
        // notification
        var notifClass = 'humane-jackedup-error';
        if( jQuery(".notice[rel!='no']").length>0 )
                notifClass = 'humane-jackedup-success';
        var jacked = humane.create({baseCls: 'humane-jackedup', addnCls: notifClass});
        //jacked.waitForMove = true;
        jacked.timeout = 5000;
        if( jQuery(".notice[rel!='no'],.error[rel!='no']").length > 0 ){
            jQuery(".notice[rel!='no'],.error[rel!='no']").hide();
            jacked.log(jQuery(".notice[rel!='no'],.error[rel!='no']").html());  
        }
        
        //jQuery(".notice[rel!='no'],.error[rel!='no']").fadeOut(5000);
        if(jQuery('.tip').length>0)jQuery('.tip').tipsy({gravity: 'sw'})
        jQuery("#loading-ajax").ajaxStart(function(){
            //jQuery(this).show()
            jacked = humane.create({baseCls: 'humane-jackedup', addnCls: ".loading-ball"})
            jacked.log("Patientez svp...");
        });

    });   
        /* ]]> */
    </script> 
{% endblock %} 