{% extends "JngActivityBundle:layout:layout.html.twig" %}

{% block title %}Activity Storage list{% endblock %}
{% block title_section %}
    <h1>Activity Storage List</h1>
    <h2>List all activity stored</h2>
{% endblock %}   

{% block content -%}
    <table class="pure-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Activity</th>
                <th>Task</th>
                <th>Start</th>
                <th>End</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('activitystorage_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.activity.name }}</td>
                <td>{{ entity.task.name }}</td>
                <td>{% if entity.start %}{{ entity.start|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.end %}{{ entity.end|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a class="pure-button pure-button-secondary"  href="{{ path('activitystorage_edit', { 'id': entity.id })}}">edit</a>
                    </li>    
                    <li>
                        {% if entity.end is null %}
                         
                        <form action="{{ path('activitystorage_stop', { 'id': entity.id }) }}" method="post">
                            <input type="hidden" name="_method" value="PUT" />
                            {{ form_widget(stopForms[entity.id]._token) }}
                            <button type="submit" class="pure-button pure-button-error"  onclick="return confirm('Are you sure to stop ?')">
                                <i class="icon-trash"></i>stop
                            </button>
                        </form>
                        {% endif %}
                    </li>
                    <li>
                        <form action="{{ path('activitystorage_delete', { 'id': entity.id }) }}" method="post">
                            <input type="hidden" name="_method" value="DELETE" />
                            {{ form_widget(deleteForms[entity.id]._token) }}
                            <button type="submit" class="pure-button pure-button-error"  onclick="return confirm('Are you sure to delete ?')">
                                <i class="icon-trash"></i>delete
                            </button>
                        </form>
                    </li>                    
                    
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a class="pure-button pure-button-primary" href="{{ path('activitystorage_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
