{% extends "JngActivityBundle:layout:layout.html.twig" %}

{% block title %}Activity list{% endblock %}
{% block title_section %}
<h1>Activities List</h1>
<h2>List all activities</h2>
{% endblock %}   

{% block stylesheets %}
    {{ form_stylesheet(searchForm) }}
{% endblock %}

{% block javascripts %}
    {{ form_javascript(searchForm) }}
{% endblock %}    


{% block content -%}
    <ul>
        <li>
            <a class="pure-button pure-button-primary" href="{{ path('activity_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
<table class="pure-table pure-table-bordered" width="100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Customer</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.name }}</td>
                <td>{{ entity.customer.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a class="pure-button pure-button-secondary"  href="{{ path('activity_edit', { 'id': entity.id }) }}" >edit</a>
                        </li>
                        <li>
                            <form action="{{ path('activity_delete', { 'id': entity.id }) }}" method="post">
                                <input type="hidden" name="_method" value="DELETE" />
                            {{ form_widget(deleteForms[entity.id]._token) }}
                                <button type="submit" class="pure-button pure-button-error"  onclick="return confirm('Are you sure ?')">
                                    <i class="icon-trash"></i>delete
                                </button>
                            </form>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

    {% block search %}    
    <form class="pure-form pure-g form-wrapper cf">
          {{ form_widget(searchForm.name,{'attr': {'class': 'ui-autocomplete-input pure-input-rounded','placeholder':'Search here...'}}) }}
        <button type="submit" class="pure-button">Search</button>
    </form>
      {% endblock %}  


