{% extends "JngUserBundle:layout:layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
{% if error %}
    <div>{{ error|trans }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post" class="pure-form pure-form-aligned">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
<fieldset>
        <div class="pure-control-group">
    <label for="username">{{ 'security.login.username'|trans }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
        </div>

        <div class="pure-control-group">
    <label for="password">{{ 'security.login.password'|trans }}</label>
    <input type="password" id="password" name="_password" required="required" />
        </div>
        
<div class="pure-controls">
    
    <label for="remember_me" class="pure-checkbox">
<input type="checkbox" id="remember_me" name="_remember_me" value="on" />{{ 'security.login.remember_me'|trans }}</label>

    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}"  class="pure-button pure-button-primary"/>
</form>
{% endblock content %}
