<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" name="viewport">
        {% block head %}
        <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
        <link rel="stylesheet"  href="{{ asset('bundles/jngactivity/css/baby-blue.css') }}" />
        <link rel="stylesheet"  href="{{ asset('bundles/jngactivity/css/activity.css') }}" />
        <link rel="stylesheet"  href="{{ asset('bundles/jngactivity/css/jackedup.css') }}" /> 
        {% block stylesheets %}{% endblock %}
        <script src="http://use.typekit.net/gis6vng.js"></script>
        <script>try {
                Typekit.load();
            } catch (e) {
            }</script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="http://yui.yahooapis.com/3.12.0/build/yui/yui-min.js"></script>
        <script src="{{ asset('bundles/jngactivity/js/vendor/custom.modernizr.js') }}"></script>
        <script src="{{ asset('bundles/jngactivity/js/humane.js') }}"></script>
        {% block javascripts %}{% endblock %} 
        <title>{% block title %}{% endblock %} - Activity Manager</title>
        {% endblock %}       
        <script type="text/javascript">
            /* <![CDATA[ */
            $(document).ready(function() {
                $("form").submit(function() {
                    $("#loading-full,.loading-ball").fadeIn();
                });
                // notification  *****************************
                var notifClass = 'humane-jackedup-error';
                if (jQuery(".notice[rel!='no']").length > 0)
                    notifClass = 'humane-jackedup-success';
                var jacked = humane.create({baseCls: 'humane-jackedup', addnCls: notifClass});
                jacked.timeout = 5000;
                if (jQuery(".notice[rel!='no'],.error[rel!='no']").length > 0) {
                    jQuery(".notice[rel!='no'],.error[rel!='no']").hide();
                    jacked.log(jQuery(".notice[rel!='no'],.error[rel!='no']").html());
                }
                if (jQuery('.tip').length > 0)
                    jQuery('.tip').tipsy({gravity: 'sw'})
                jQuery("#loading-ajax").ajaxStart(function() {
                    //jQuery(this).show()
                    jacked = humane.create({baseCls: 'humane-jackedup', addnCls: ".loading-ball"})
                    jacked.log("Patientez svp...");
                });
                
            });
            /* ]]> */
        </script>
    </head>
    <body>
        <div class="pure-g-r" id="layout">
            <div id="loading-full"></div><div class="loading-ball"></div>
{# L'utilisateur est-il connecté ? #}
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div class="pure-u-1" id="main">    
                <div class="header">{% block title_section %}{% endblock %}</div>        

                <div class="content">
                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="flash-message">
                        <em>Notice</em>: {{ flashMessage }}
                    </div>
                {% endfor %}
                {% block content %}{% endblock %}
                </div>

                <div class="legal pure-g-r">{% block footer %}&copy; Copyright 2013 by <a href="http://www.julnegre.fr/">Julnegre</a>.{% endblock %}</div>

                <div class="search">{% block search %}{% endblock %}</div>   
                
            </div>
{% else %}

            <META http-equiv="refresh" content="0;URL={{ path('fos_user_security_login') }}">

{% endif %}           


        </div>
    </body>
</html>

