<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block head %}
        <script src="http://use.typekit.net/gis6vng.js"></script>
        <script>try {Typekit.load();}catch(e){}</script>
        <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
        <link rel="stylesheet"  href="{{ asset('bundles/jngactivity/css/baby-blue.css') }}" />
        <link rel="stylesheet"  href="{{ asset('bundles/jngactivity/css/activity.css') }}" />
        <title>{% block title %}{% endblock %} - Activity Manager</title>
        {% endblock %}
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}   
    </head>
    <body>
{# L'utilisateur est-il connecté ? #}
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

            <div class="header">
            <div class="menu">
                <div class="pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal">
                    <a class="pure-menu-heading" href="{{ path('activitystorage') }}">Activity manager</a>
                    <ul>
                        <li class="pure-menu-selected"><a class="pure-button pure-button-success" href="{{ path('activitystorage_new') }}">NEW</a></li>
                        <li><a href="{{ path('activity') }}">Activity</a></li>
                        <li><a href="{{ path('business') }}">Business</a></li>
                        <li><a href="{{ path('customer') }}">Customer</a></li>
                        <li><a href="{{ path('task') }}">Task</a></li>
                        
                        {# L'utilisateur est connecté ! #}
                        <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>

                        {# L'utilisateur est-il admin ? #}
                        {% if is_granted('ROLE_ADMIN') %}
                            {# L'utilisateur est admin ! #}
                            <li><a href="{{ path('admin') }}">Administration</a></li>
                        {% endif %}
                        
                    </ul>
                </div>    
            </div>
            <div class="title">    
                {% block title_section %}{% endblock %}  
                </div>        
            </div>        
            <div class="content">
            {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="flash-message">
                        <em>Notice</em>: {{ flashMessage }}
                    </div>
            {% endfor %}
            {% block content %}{% endblock %}
                </div>
                <div class="footer">
            {% block footer %}
                        &copy; Copyright 2013 by <a href="http://www.julnegre.fr/">Julnegre</a>.
            {% endblock %}
                    </div>

                    <div class="search">
                    {% block search %}{% endblock %}
                    </div>   
{% else %}
            
    <META http-equiv="refresh" content="0;URL={{ path('fos_user_security_login') }}">

{% endif %}                               
                </body>
            </html>

