{% extends "JngActivityBundle:layout:layout.html.twig" %}

{% block title %}Customer list{% endblock %}
{% block title_section %}
    <h1>Customer List</h1>
    <h2>List all customers</h2>
{% endblock %}  

{% block content -%}
    <table class="pure-table pure-table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('customer_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>
                <ul>
                    <li>
                        <a class="pure-button pure-button-secondary" href="{{ path('customer_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                     <li>
                        <a class="pure-button pure-button-warning" href="{{ path('customer_delete', { 'id': entity.id }) }}">delete</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a class="pure-button pure-button-primary" href="{{ path('customer_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
