
{% block form_start %}
{% spaceless %}
    {% set method = method|upper %}
    {% if method in ["GET", "POST"] %}
        {% set form_method = method %}
    {% else %}
        {% set form_method = "POST" %}
    {% endif %}
    {% set attr = {'class': 'pure-form pure-form-aligned'} %}
    <form name="{{ form.vars.name }}" method="{{ form_method|lower }}" action="{{ action }}"{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}>
    <fieldset>
    {% if form_method != method %}
        <input type="hidden" name="_method" value="{{ method }}" />
    {% endif %}
{% endspaceless %}
{% endblock form_start %}

{% block form_end %}
{% spaceless %}
    {% if not render_rest is defined or render_rest %}
        {{ form_rest(form) }}
    {% endif %}
    </fieldset>    
    </form>
{% endspaceless %}
{% endblock form_end %}

{% block submit_widget %}
{% spaceless %}
    {% set type = type|default('submit') %}
    {% set attr = {'class': 'pure-button pure-button-primary'} %}
    {{ block('button_widget') }}
{% endspaceless %}
{% endblock submit_widget %}

{% block form_row %}
{% spaceless %}
    <div class="pure-control-group">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block button_row %}
{% spaceless %}
    <div class="pure-controls">
        {{ form_widget(form) }}
    </div>
{% endspaceless %}
{% endblock button_row %}